@import "variable.styl";

.post {
  .post-title {
    font-size 22px;
    font-weight 700;

    a {
      color: $titleColor;

      &:hover {
        color $hoverColor;
      }
    }
  }

  .post-meta {
    margin-top 15px;
  }

  .post-excerpt {
    margin-top 15px;
    word-break break-all;
    height: 150px;
    overflow: hidden;

    p{
      line-height: 26px;
    }

    .post-excerpt-a{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .post-excerpt-div-left{
        margin-right: 30px;
        min-width: 40%;

        img{
           max-width: 100%;
           max-height: 100%; 
        }
      }
    }

    a {
      color $aColor;

      p {
        margin 0;
        line-height 25px;
      }
    }
  }

  .post-content {
    margin-top 20px;
    word-break break-all;
    overflow: hidden;

    .blueBgTitle{
      background: rgba(50,115,220,0.6);
      color: #fff;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      text-indent: 10px;
      border-radius: 3px;
    }

    .blueBg{
      background: rgba(30,144,255,0.5);
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border-radius: 3px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }

    p{
      line-height: 26px;
    }

    a {
      color #0e6db1;
      text-decoration underline;
    }

    li{
          line-height: 28px;
    }
  }

  .post-excerpt, .post-content {
    table {
      border-collapse collapse;
      margin 1rem 0;
      display block;
      overflow-x auto;
      background: rgba(216,226,235,0.6);
      border-radius: 3px;

      td, th {
        //border 1px solid $borderColor;
        padding .6em 1em;

        pre{
          font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, "Microsoft YaHei";
          line-height: 18px;
        }

        &.gutter{
          display:none;
        }
      }
    }
  }

  .post-footer {
    margin-top 15px;
    padding-top 15px;
    border-top 1px dotted $borderColor;
  }

  .align-center {
    text-align center;
  }

  .detail-title {
    font-size 24px;
  }
};

.label {
  padding: 1px 2px;
  color: $labelFontColor;
  background-color $labelBackgroundColor;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
};