.header {
  height 60px;
  position relative;
  box-shadow 0 1px 6px rgba(0, 0, 0, .3);
  background: rgba(216,226,235,1);
};

.header .global-width{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	height: 100%;
}

.header .avatar{
	align-items: center;
	display: flex;
  color: #333;
}

.header .avatar img{
	width: 40px;
    height: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 100%;
    margin-right: 20px;
}

.nav-box {
  display flex;
  justify-content flex-end;

  .nav-item {
    padding: 14px 20px;
    display: block;
  }

  .category-list{
    display: flex;
    align-items: center;

    li{
      padding: 14px 20px;
    }
  }
}