$aColor = #333333;
//$hoverColor = #ff1227;
$hoverColor = #3273dc;
$borderColor = #d8d8d8;
$titleColor = #484850;
$labelFontColor = #ffffff;
//$labelBackgroundColor = #787d75;
$labelBackgroundColor = #3273dc;


