@import "_partial/variable.styl";

html, body{
  height: 100%;
}

body, ul {
  margin 0;
  padding 0;
};

body {
  font-size 14px;
  font-family "Microsoft YaHei";
  background: rgba(216,226,235,0.4);
};

ul {
  list-style-type none;
};

.global-width {
  width 80%;
  margin 0 auto;
};

a {
  text-decoration: none;
  color: $aColor;

  &:hover {
    color $hoverColor;
  }
};

.box {
  position relative;
  padding 20px;
  border 1px solid $borderColor;
  border-radius 3px;
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  //background: #d8e2eb;
  background: rgba(255, 255, 255, 0.6);
  

  &:hover{
    background: rgba(255,255,255, 1);
  }
};

.dotted {
  color: $borderColor;
  margin: 0 5px;
  font-size: 12px;
};

.main-container {
  //height 100%
  //position relative
  min-height: 100%;

  .small_left_img{
    max-height: 230px;
    float:left; 
    clear: both;
    margin-right: 30px;
  }
}

.main-padding{
  padding-bottom: 70px;
}

.main {
  .post-item:not(:first-child) {
    margin-top 20px;
  }
}

$mainWidth = 75%;

.content {
  margin-top 20px;
  display flex;
  position relative;
  justify-content space-between;
  //padding-bottom: 70px;

  .main {
    width $mainWidth;
  }

  .main_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .post-item {
        margin-top: 20px;
        width: 45%;
    }

    .post-item:nth-child(2) {
        margin-top: 0;
    }

    .post-item:nth-child(1) {
        margin-top: 0;
    }
  }

  .aside {
    width "calc(100% - %s - 20px)" % $mainWidth;
  }
};

.post-toc{
  padding-inline-start: 0px;
  list-style-type: none;
  line-height: 20px;
  margin-bottom: 0;

  .post-toc-link{
    word-break: break-all;
    margin-bottom: 4px;
    display: block;
    margin-top: 4px;
  }

  .post-toc-child{
    list-style-type: none;
    line-height: 20px;
  }

  .post-toc-item{
    &:first-child{
      .post-toc-link{
        margin-top: 0;
      }
    }
  }
}

.cloud-label {
  a {
    padding 5px 8px;
    border-radius 4px;
    border 1px solid $borderColor;
    box-sizing border-box;
    margin-right 5px;
    margin-bottom 5px;
    display inline-block;

    &:hover {
      color $labelFontColor;
      background-color $labelBackgroundColor;
    }
  }
};

.page-nav {
  margin-top: 20px;
  text-align center;

  a, span {
    margin 0 4px;
    padding 4px 14px;
    display inline-block;
    border 1px solid $borderColor;
  }

  span {
    color $labelFontColor;
    background-color $labelBackgroundColor;
  }

  a:hover {
    color $labelFontColor;
    background-color $labelBackgroundColor;
  }
};

code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, "Microsoft YaHei";
  padding: 2px 4px;
  //border: 1px solid #3273dc;
  //background: rgba(255,255,255,0.6);
  background: rgba(216,226,235,0.6);
  border-radius: 3px;
  margin-left: 2px;
  margin-right: 2px;
  word-break: break-word;
}

.hljs {
  padding: 15px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, "Microsoft YaHei";
};

.small-nav{
  display: none;
  position: relative;
  width: 7rem;
  text-align: right;

  .small-nav-btn{
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    font-size: 18px;
    outline: none;
  }

  .small-nav-radio{
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    outline: none;
  }

  .small-nav-radio:checked + .small-nav-box{
      display: block;
    }

  .small-nav-box{
    display: none;
    position: absolute;
    right: 0;
    top: 2rem;
    background: #fff;
    padding: 1rem;
    z-index: 10;
    line-height: 1.8rem;
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
  }
}


.box-categories{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0;
  padding-bottom: 40px;

  .box-categories-name{
    font-size: 22px;
    margin-bottom: 32px;
    font-weight: bold;
  }
}

.box-categories-wrap{
  margin-bottom: 40px;
  position: relative;
  text-indent: 20px;

  .box-categories-header-title{
    margin-left: 20px;
  }

  .fa{
    text-indent: 0;
  }

  &:before{
    content: '';
    width: 6px;
    height: 100%;
    background: #d8e2eb;
    position: absolute;
    left: 0;
    border-radius: 3px;
  }

  &:last-child{
    margin-bottom: 0;
  }

  .box-categories-header{
    font-size: 18px;
    margin-bottom: 10px;

    .box-categories-header{
      font-weight: bold;
      margin-left: 20px;
    }
  }
}

@import "_partial/header.styl";
@import "_partial/aside.styl";
@import "_partial/article.styl";
@import "_partial/footer.styl";


@media only screen and (max-width: 1400px) {
  .global-width {
    width 96%;
  }
};

@media only screen and (max-width: 1200px) {
  .nav-box {
    display flex;
    justify-content center;
  }

  .global-width {
    width auto;
  }

  .content {
    display block;
    margin-top 10px;

    .main, .aside {
      width 100%;
    }

    .aside {
      margin-top 10px;
    }
  }

  .main {
    .post-item:not(:first-child) {
      margin-top 10px;
    }
  }

  .page-nav {
    margin-top: 10px;
  }

  .aside {
    .widget {
      &:not(:first-child) {
        margin-top 10px;
      }
    }
  }

  //.footer {
    //margin-top: 10px;
  //}
};


@media only screen and (max-width: 750px) {
  
  .header .global-width{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .small-nav{
    display: block;
  }

  .nav-box{
    display: none;
  }
  
  .box{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .post-item:nth-child(2) {
      margin-top: 20px;
  }
}